doctype html
html
	head
		title Lit Jacket Controller
		link(href='index.css');
	body
		#display-state
			.system-info
				button.update-remote
			canvas.jacket-state
		#control-form
			select.preset
					option(value='default') Default
			label.preset-name
				.name Preset Name
				input(name="preset-name", type="text")
			label.float-x
				.name Float X
				input(name="float-x", type="range", min="-2", max="2", step="0.001")
			label.float-y
				.name Float Y
				input(name="float-y", type="range", min="-2", max="2", step="0.001")
			label.colormap-scale
				.name Colormap Scale
				input(name="colormap-scale", type="number", min="0.001", max="4", step="0.001")
			label.colormap-name
				.name Colormap (already on device)
				select(name="colormap-name")
					option(value='default') Default
			label.colormap-image
				input(name="colormap-image", type="file")